@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">DotNet....DEMO!!!!!!!!!!!!!! -- Production!!</h1>
    <p><b>Building Web APPS with ASP.NET Core</b></p>
</div>
